# Port de l'api
PORT=3000

# DB URL
DB_URL=postgres://user:password@localhost:5432/dbname

# Secret code for token
JWT_SECRET=

# Email for contact message 
EMAIL_USER=youremail@mail.com

# Password to authorize express server to get to mail provider
EMAIL_PASS=